#file
*.json
*.jpg
*.dll
*.lib
*.xml
*.pem
*.zip
*.tar
main
userTest
CMakeLists.txt.user

#cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.o
*.o.d
*.make
*.internal

#folder
build/
log/
received/
